@import 'variables';
@import 'mixins';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-style: normal;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrapper {
  min-width: 320px;
  text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: block;
  min-height: 40px;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  line-height: 20px;
  background-color: #68b738;
  box-sizing: border-box;
  font-weight: 400;
}

.btn--grey {
  color: #000;
  background-color: #f2f2f2;
  max-width: 480px;
  min-width: 280px;
  margin: 0 auto;
  width: 100%;
}


.container {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 110px;
  }
}